<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Document</title>
</head>
<body>
    {% block header %}
    <header class='ti2'>
        <a href="C:\Users\TAKAHIRO NAGASE\Desktop\Template\Private.html">プライベートについて</a>
        <a href="C:\Users\TAKAHIRO NAGASE\Desktop\Template\Study.html">学びについて</a>
        <a href="C:\Users\TAKAHIRO NAGASE\Desktop\Template\Future.html">今後の目標について</a>
    </header>
    {% endblock %}
    {% block p %}
    
    {% endblock %}
</body>
</html>